img{
  diplay: block;
  padding: 200px;
  margin: auto;
  border-radius: 130px;
}

body {
  background-color: powderblue;
  color: rgb(65,75,86);
  font-family: verdana;
  margin: 0px;
}

div {
  min-height: 50px;
  width: 100vw;
}

div.contrast {
  background-color: hotpink;
  color: rgb(255,255,255);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 2em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 100px;
}

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  display: flex
}
