body {
  background: url(../images/background.jpg) center center;
  font-family: 'Ubuntu', sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #ffd6e5;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  margin: 10px 0px 10px;
  text-shadow: 1px 1px 1px #b685ea;
  color: #5d3e7e;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  text-shadow: 5px 5px 5px #5d3e7e;
  text-align: center;
  font-style: bold;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  color: #f2ac41;
  text-shadow: 5px 5px 5px #5d3e7e;
  text-align: center;
  font-style: bold;
}

div.contrast {
  background-color: #f2ac41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div > ul > li {
  text-align: center;
}

div.container{
    width: 80%;
    justify-content: center;
    padding-bottom: 100px;
}


