body {
  background-color: #5d3e7e;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  background-image: url(../images/background.jpg);
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #ffd6e5;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  margin: 10px 0px 10px;
  text-shadow: 1px 1px 1px #b685ea;
  color: #5d3e7e;
}

div.contrast {
  background-color: #f2ac41;
  /* color: #b24a7f;
  font-family: 'Ubuntu', sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div > ul > li {
  text-align: center;
}

div.container{
    width: 30%;
    text-align: center;
}    