body {
  background: url(../images/background.jpg) center center;
  font-family: 'Ubuntu', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div.contrast {
  background-color: #f2ac41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.image {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: #ffd6e5;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  margin: 10px 0px 10px;
  text-shadow: 1px 1px 1px #b685ea;
  color: #5d3e7e;
}

div > ul > li {
  text-align: center;
}

div.container{
    width: 30%;
    text-align: center;
}    