body {
  background-color: #5d3e7e;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  background-image: url(../images/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #ffd6e5;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  margin: 10px 0px 10px;
  text-shadow: 1px 1px 1px #b685ea;
  color: #5d3e7e;
}

h3 {
  font-family:'Open Sans', Sans-serif;
  color: #f2ac41;
  text-align: center;
  font-style: bold;
  font-size: 28px;
  text-shadow: 1px 1px 1px #b685ea;
}

h4 {
  font-size: 22px;
  text-align: center;
  font-family:'Indie Flower', cursive;
  font-style: light;
  margin: 0px 0px 10px;
  color: #f2ac41;
}

div.contrast {
  background-color: #f2ac41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div > ul > li {
  text-align: center;
}
