body {
  background-color: #5d3e7e;
  color: #cfcfcf;
  font-family: "Spacegrotesk", sans-serif;
  margin: 0px;
}

h1 {
  font-size: 50px;
  color: #cfcfcf;
  text-align: center;
}

div {
  min-height: 50px;
  width: 100vw;
}

h2 {
  font-size: 36px;
  text-align: center;
  font-family: "Spacegrotesk", sans-serif;
  margin: 10px 0px 10px;
}

div.contrast {
  background-color: #f2ac41;
  color: #b24a7f;
  font-family: "Spacegrotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 100px;
}

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  display: flex
}

.container {
  margin-top: auto;
  margin-bottom: auto;
}
