body {
  background-color: #5d3e7e;
  color: #cfcfcf;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  background-image: url(layout.png);
  height: 500px;
  background-postion: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #ffd6e5;
  text-align: center;
}

div {
  min-height: 50px;
  width: 100vw;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  margin: 10px 0px 10px;
  text-shadow: 1px 1px 1px #b685ea;
  color: #5d3e7e;
}

div.contrast {
  background-color: #f2ac41;
  color: #b24a7f;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 100px;
}

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  display: flex
}

.container {
  margin-top: auto;
  margin-bottom: auto;
}
